body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
}

.fetchButton {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s;
}

.fetchButton:hover {
    background-color: #2980b9;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.controls input,
.controls select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 48%;
}

.booklist-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.single-book {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background-color: #f4f4f4;
    transition: background-color 0.3s;
}

.single-book:hover {
    background-color: #ececec;
}

.book-image {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.book-info {
    max-width: 600px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

.book-desc {
    font-size: 14px;
    color: #555;
    text-align: justify;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #aaa;
    padding: 20px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #ddd;
}

.pagination .active {
    background-color: #3498db;
    color: white;
}
.footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}